@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100vh;
  overflow-y: scroll;
  overflow: hidden;
  font-family: 'Pretendard', sans-serif;
  background-color: rgb(28, 28, 28);
}

/* body {
  background-image: url('/images/street2.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */
